<div class="text-center mt-3">
  <h3>Matches: {{pagination?.totalItems}} people</h3>
</div>

<div class="container d-flex justify-content-center" *ngIf="userParams">
  <form #form="ngForm" class="d-flex mb-3" (ngSubmit)="loadMember()" autocomplete="off">

    <div class="d-flex mx-2">
      <label class="col-form-label">Age from: </label>
      <input type="number" class="form-control ms-1" style="width: 70px;" name="minAge"
          [(ngModel)]="userParams.minAge">
      <label class="col-form-label ms-2">to: </label>
      <input type="number" class="form-control ms-1" style="width: 70px;" name="maxAge"
          [(ngModel)]="userParams.maxAge">
  </div>

  <div class="d-flex px-2">
    <label class="col-form-label">Show: </label>
    <select name="gender" style="width: 150px;" class="form-select ms-1" 
        [(ngModel)]="userParams.gender">
        <option *ngFor="let gender of genderList" [value]="gender.value">{{gender.display}}</option>
    </select>
</div>

<div class="col ms-2">
  <div class="btn-group float-end">
      <button class="btn btn-primary" type="button" btnRadio="lastActive" name="orderBy"
          [(ngModel)]="userParams.orderBy" (click)="loadMember()">Last Active</button>
      <button class="btn btn-primary" type="button" btnRadio="created" name="orderBy"
          [(ngModel)]="userParams.orderBy" (click)="loadMember()">Newest</button>
  </div>
</div>

<button class="btn btn-primary ms-1" type="submit">Filter</button>
    <button (click)="resetFilters()" class="btn btn-info ms-2" type="submit">Reset</button>
  </form>
</div>
    

<div class="container">
<div class="row">
  <div class="col-2" *ngFor="let user of members">
      <app-member-card [member]="user"></app-member-card>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination 
      [boundaryLinks]="true" 
      [totalItems]="pagination.totalItems" 
      [itemsPerPage]="pagination.itemsPerpage"
      [maxSize]="10" 
      [(ngModel)]="pagination.currentPage" 
      (pageChanged)="pageChanged($event)" 
      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>
</div>