<div class="card">
    <div class="card-body">
      <h5 *ngIf="(messageService.messageThread$ | async)?.length === 0">No messages</h5>
        <ul #messages [scrollTop]="messages.scrollHeight" 
            class="direct-message" style="height: 620px; overflow-y: auto;"
            *ngIf="(messageService.messageThread$ | async)!.length > 0">
      <li *ngFor="let message of (messageService.messageThread$ | async)" style="width:95%;">
          <div class="row">
            <div [class]="message.senderUsername === username 
                        ? 'col-1' 
                        : 'col-11 direct-message-body text-end'">
  
              <img *ngIf="message.senderUsername === username"
                    src="{{message.senderPhotoUrl || './assets/images/default-user.png'}}" alt=""
                    class="rounded-circle">
  
              <div *ngIf="message.senderUsername !== username">
                <div class="header">
                  <small class="text-muted">
                    <span><fa-icon [icon]="faClock"></fa-icon> {{message.dateSent | timeago}}</span>
                    <span class="text-secondary"
                      *ngIf="!message.dateRead && message.senderUsername !== username"> (unread)</span>
                    <span class="text-success"
                      *ngIf="message.dateRead && message.senderUsername !== username"> 
                        (read {{message.dateRead | timeago}})</span>
                  </small>
                </div>
                <p ngxLongPress2 (onLongPress)="onLongPressMessage(message.id)" style="cursor: pointer;">
                  {{message.content}}
              </p>
              </div>
            </div>
  
            <div [class]="message.senderUsername !== username 
                          ? 'col-1' 
                          : 'col-11 direct-message-body'">
  
              <img *ngIf="message.senderUsername !== username"
                  src="{{message.senderPhotoUrl || './assets/images/default-user.png'}}" alt=""
                  class="rounded-circle">
  
              <div *ngIf="message.senderUsername === username">
                <div class="header">
                  <small class="text-muted">
                    <span><fa-icon [icon]="faClock"></fa-icon> {{message.dateSent | timeago}}</span>
                    <span class="text-secondary"
                      *ngIf="!message.dateRead && message.senderUsername !== username"> (unread)</span>
                    <span class="text-success"
                      *ngIf="message.dateRead && message.senderUsername !== username"> 
                      (read {{message.dateRead | timeago}})</span>
                  </small>
                </div>
                <p>{{message.content}}</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  
    <div class="card-footer">
      <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
            <div class="input-group">
              <input name="messageContent" required
              [(ngModel)]="messageContent"
              type="text"
                  class="form-control input-sm" placeholder="Send direct message">
                <div class="input-group-append">
                  <button [disabled]="!messageForm.valid" class="btn btn-primary ms-2" type="submit">
                    <fa-icon [icon]="faPaperPlane"></fa-icon> Send</button>
                </div>
            </div>
        </form>
    </div>
  </div>
